<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let i of shop">
                    <div class="card" >
                        <img src="{{i.shop}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.title}}</h5>
                          <p class="card-text">{{i.discription}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">{{i.rate}}</li>
                          <li class="list-group-item">{{i.sellername}}</li>
                          <li class="list-group-item">{{i.quantity}}</li>
                          
                        </ul>
                        <div class="card-body">
                          <a href="#" class="card-link">Buy Now</a>
                         
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
