<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let i of shop">
                    <div class="card" >
                        <img height="300px"src="{{i.image}}" class="card-img-top" alt="...">
                        <div style="height: 200px;" class="card-body">
                          <h5 class="card-title">{{i.title}}</h5>
                          <p class="card-text">{{i.discription}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Id: {{i.id}}</li>
                          <li class="list-group-item">Price:{{i.price}}</li>
                          <li class="list-group-item">Category: {{i.category}}</li>
                          <li class="list-group-item">Rating:{{i.Rating}}</li>
                          <li class="list-group-item">Count: {{i.rating.count}}</li>
                          
                        </ul>
                        <div class="card-body">
                          <a href="#" class="card-link">Buy Now</a>
                         
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
